#Resources{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}
.ppt-image{
    width: auto;
}
#LR{
    color: rgb(80, 84, 88);
    margin: 0px; font-style:italic; 
    font-size: 55px ;
    margin-left: 2%; 
    font-family: 'Times New Roman', Times, serif; 
    margin-top: 1% ;
}
#Resources img {
    width: 100%;
    padding: 5px;
}
.grow img{
    transition: 1s ease;
    }
    
    .grow img:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition: 1s ease;
    }