@media all and (min-width: 320px) and (max-width: 809px) {
  body > header > div.top-content > div:nth-child(2) > a > img {
    width: 98px;
  }

  #Profile {
    width: auto;
  }
  #main-image {
    width: 95%;
    height: 400px;
    margin: 0px;
  }
  .jec-logo {
    width: 98px !important;
    margin-top: 45px !important;
  }
  #KamalKumar {
    font-size: 3rem;
  }
  #dropmeow {
    width: 20px;
    position: absolute;
    left: 0px;
    top: 20px;
  }
  #dropmeow > ul {
    width: 200px !important;

    margin: none !important;
    left: 10px !important;
  }
  .two {
    margin: 0px 30px;
  }
  #droppers {
    padding: 0px;
    font-size: 12px !important;
  }
  #NavButtonsContainer > label {
    font-size: 9px;
    width: 100% !important;
  }
  #NavButtonsContainer.sticky {
    padding: 1px;
  }
  .NavDividers {
    font-size: 100px;
    font-weight: 100 !important;
  }

  #navbuts {
    font-size: 10px;
    padding: 2px;
  }

  #spotlight-head > p {
    font-size: 24px;
  }
  div,
  section {
    border: 1px solid black;
  }
  #read {
    margin: 21px;
  }
  #footer {
    flex-direction: column;
  }
  .two {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  html {
    width: 100%;
  }

  #footlogos {
    justify-content: center;
  }
  #footer > div {
    width: 95%;
  }
  #hello-title,
  #hello {
    font-size: 3rem;
  }
  #Profile {
    padding: 20px;
  }
  .contact {
    font-size: 16px;
  }
  #logos {
    width: 100%;
  }
  #logos {
    justify-content: center;
  }
}
