#Resources{
    display: flex;
}
.ppt-image{
    width: auto;
}
#Resources img {
    width: 100%;
    padding: 5px;
}
.grow img{
    transition: 1s ease;
    }
    
    .grow img:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition: 1s ease;
    }